body{
    padding:0;
    margin:0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}
hr {
    border-style: none;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: dodgerblue;
    width: 10%;
    margin-bottom: 30px;
}
a{
    color: black;
}
ul li{
    list-style: none;
}
.container-fluid {
    padding-right:0;
    padding-left:0;
    margin: 0 0 80px;
    
}
.container {
padding-right:0;
padding-left:0;
margin: 80px auto;
 }
 .container>h2{
     text-align: center;
 }
 .carousel-img{
    height: 500px;
}
.carousel{
    margin-bottom: 25px;
}
.forgotpass{
    color: dodgerblue;
}
.icon-msg{
    border-right: 2px solid dodgerblue;
}
.mid-section{
    margin: 130px;
}
.icon{
    margin-right: 15px;
}
.statistics{
    min-height: 200px;
    background: linear-gradient(90deg, rgba(5,150,148,1) 0%, rgba(1,169,200,1) 100%);
    color: whitesmoke;
    text-align: center;
}
.services div{
    margin: auto
}
.services{
    text-align: center;
}
.sign-in{
    background: url(images/priv-ward.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: center; */
}
/* footer styling */
.footer{
    min-height: 500px;
    background: linear-gradient(90deg, rgba(5,150,148,1) 0%, rgba(1,169,200,1) 100%);
    color: whitesmoke;
    margin-top: 100px;
    color: white;
}
.footer-mob{
    display: none;
}

.footer_content{
    margin-top: 80px;
}
.footer_list li a{
    color: whitesmoke;
    text-decoration: none;
}

/* mobile responsiveness styling */
@media(min-width:320px) and (max-width: 768px) {
    .footer{
        min-height: 250px;
    }
    .footer-main{
        display: none;
    }
    .footer-mob{
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .footer-mob div{
        margin:15px 0;
        padding-top: 10px;
    }
    .footer-mob div a{
        color: #fff;
    }
}